<?xml version="1.0"?>
<config>
    <modules>
        <MagentoGarden_Seosuite>
            <version>1.3.0</version>
            <platform>CE</platform>
            <id>seosuite</id>
            <name>Magento SEO Extension</name>
            <url>http://www.magentogarden.com/magento-seo-extension.html</url>
        </MagentoGarden_Seosuite>
    </modules>
    <frontend>
        <routers>
            <seosuite>
                <use>standard</use>
                <args>
                    <module>MagentoGarden_Seosuite</module>
                    <frontName>seosuite</frontName>
                </args>
            </seosuite>
        </routers>
        <layout>
            <updates>
                <seosuite>
                    <file>seosuite.xml</file>
                </seosuite>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <seosuite>
                <class>MagentoGarden_Seosuite_Model</class>
                <resourceModel>seosuite_mysql4</resourceModel>
            </seosuite>
            <seosuite_mysql4>
                <class>MagentoGarden_Seosuite_Model_Mysql4</class>
                <entities>
                    <imagesitemap>
                        <table>imagesitemap</table>
                    </imagesitemap>
                    <customurl>
                    	<table>seosuite_customurl</table>
                    </customurl>
                </entities>
            </seosuite_mysql4>
            <sitemap>
            	<rewrite>
            		<sitemap>MagentoGarden_Seosuite_Model_Sitemap</sitemap>
            	</rewrite>
            </sitemap>
        </models>
        <resources>
            <seosuite_setup>
                <setup>
                    <module>MagentoGarden_Seosuite</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </seosuite_setup>
            <seosuite_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </seosuite_write>
            <seosuite_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </seosuite_read>
        </resources>
        <blocks>
            <seosuite>
                <class>MagentoGarden_Seosuite_Block</class>
            </seosuite>
            <review>
            	<rewrite>
            		<helper>MagentoGarden_Seosuite_Block_Review_Helper</helper>
            	</rewrite>
            </review>
            <rss>
            	<rewrite>
            		<list>MagentoGarden_Seosuite_Block_Rss_List</list>
            	</rewrite>
            </rss>
            <catalog>
            	<rewrite>
            		<product_view>MagentoGarden_Seosuite_Block_Product_View</product_view>
            	</rewrite>
            </catalog>
        </blocks>
        <helpers>
            <seosuite>
                <class>MagentoGarden_Seosuite_Helper</class>
            </seosuite>
        </helpers>
        <events>
	        <controller_action_layout_render_before_catalog_category_view>
	            <observers>
	                <seosuite>
	                    <type>singleton</type>
	                    <class>MagentoGarden_Seosuite_Model_Observer</class>
	                    <method>pagination</method>
	                </seosuite>
	            </observers>
	        </controller_action_layout_render_before_catalog_category_view>
	        <controller_action_layout_render_before_blog_index_index>
	        	<observers>
	        		<seosuite>
	        			<type>singleton</type>
	        			<class>MagentoGarden_Seosuite_Model_Observer</class>
	        			<method>pagination</method>
	        		</seosuite>
	        	</observers>
	        </controller_action_layout_render_before_blog_index_index>
	        <controller_action_layout_render_before_blog_cat_view>
	        	<observers>
	        		<seosuite>
	        			<type>singleton</type>
	        			<class>MagentoGarden_Seosuite_Model_Observer</class>
	        			<method>pagination</method>
	        		</seosuite>
	        	</observers>
	        </controller_action_layout_render_before_blog_cat_view>
	        <controller_front_init_routers>
                <observers>
                    <seosuite>
                        <type>singleton</type>
                        <class>MagentoGarden_Seosuite_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </seosuite>
                </observers>
            </controller_front_init_routers>
	    </events>
    </global>
    <admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<seosuite>MagentoGarden_Seosuite_Adminhtml</seosuite>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<seosuite>
					<file>seosuite.xml</file>
				</seosuite>
			</updates>
		</layout>
	</adminhtml>
    
    <default>
		<magentogarden_seosuite>
			<general>
				<enabled_seosuite>1</enabled_seosuite>
				<enabled_image_sitemap>1</enabled_image_sitemap>
				<include_all_gallery>0</include_all_gallery>
				<enabled_split_sitemap>1</enabled_split_sitemap>
				<enabled_blog_sitemap>0</enabled_blog_sitemap>
				<seosuite_user_sitemap_style>tree</seosuite_user_sitemap_style>
				<include_customurl>1</include_customurl>
			</general>
			<canonical>
				<enable>0</enable>
                <hreflang>0</hreflang>
				<style>default</style>
			</canonical>
			<friendly_url>
				<review_router>review</review_router>
				<rss_router>rss</rss_router>
			</friendly_url>
		</magentogarden_seosuite>
	</default>
</config>